body {
    background-image: url(https://us.123rf.com/450wm/dvarg/dvarg1406/dvarg140600658/29069186-patterns-vertical-in-the-form-of-vines-abstact-flowers-on-a-light-beige-background.jpg?ver=6);

}

header {
	background-image: url(https://static1.squarespace.com/static/546ffe37e4b035e9c277b5d4/t/5b5c2dceaa4a99bb715331d4/1532767718861/Squarespace+Coding+and+CSS+Services);
	border-style: solid;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 340px;
	background-position: center;
	text-align: left;
    color: #bf2241;
    font-size: 50px;
    text-align: center;
    margin:0;
    -webkit-text-stroke:2px black;  

}
nav {
	background-color: #1CBE8C;
	border: solid 3px Red;
}
nav .row .col:hover{
	background-color: red;

}
img {
	width: 100%;
}


#about {
    background-color: #1CBE8CBF;
}


#projects {
    background-color: #1CBE8CBF;
    -webkit-text-stroke:2px black;
    color: #bf2241;

}

#contact {
    background-color: #1CBE8CBF;
    -webkit-text-stroke:2px black;
    color: #bf2241;

}

.mySlides {
    height: 440px;
}

* {
    box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* Style the container/contact section */
.container {
    border-radius: 5px;
    background-color: #1CBE8CBF;
    padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
